.infos-planta {
    display: flex;
    flex-direction: row;
}

.card-com-link {
    background-color: chocolate;
    margin-inline: .5em;
    margin-top: .5em;
    text-align: center;
    border-radius: .5em;
}