.card {
    display: flex;
    flex-direction: column;
    width: 12em;
    height: 12em;
    background-color: bisque;
}

.card > h3 {
    align-self: baseline;
    justify-self: start;
    height: 100%;
    margin-top: .25em;
    margin-left: .25em;
}

.card > h2 {
    text-align: center;
    align-self: center;
    height: 100%;
}