.section-form-add-planta > form {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    background-color: beige;
    width: max-content;
    padding: 2em;
    border-radius: .25em;
    border: solid 1px black;
}

.section-form-add-planta {
    display: flex;
    justify-content: center;
}

#planta {
    height: 2em;
    outline: none;
}

form > button {
    cursor: pointer;
}